/*###########*/
/*## RESET ##*/
/*###########*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*###########*/
/*## STYLE ##*/
/*###########*/

.centerCtn {
    display: flex;
    justify-content: center;
}

.canvasCtn {
    position: relative;
    width: 100%;
    min-width: 300px;
    max-width: 850px;
}
/* @media screen and (width < 768px) {
    .canvasCtn {
        width: 100%;
    }
} */

canvas {
    background-color: black;
    width: 100%;
}

#hudCtn {
    position: absolute;
    top: 0;
    padding-inline: 1%;
    display: flex;
    justify-content: space-between;
    min-width: 100%;
}

.hudArea {
}

.statusbar {
    /* height: 60px; */
    height: clamp(1.25rem, -0.114rem + 7.273vw, 3.75rem);
    display: flex;
    flex-direction: column;
}



/*###########*/
/*## DEBUG ##*/
/*###########*/

.containerTesten {
    height: 300px;
}

.centering {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.limitig {
    position: relative;
}